<a href="https://colab.research.google.com/github/OscarIvaVP/Importar-datos-PYTHON/blob/main/4%20formas%20de%20Importar%20datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTAR DATOS DE TRABAJO**

**Opción 1. Cargar desde una carpeta de trabajo de drive**

In [1]:
# Importar la libreria de pandas

import pandas as pd

from google.colab import files

datos = pd.read_excel("/content/drive/MyDrive/Python - Google Colaboratory/Curso - Estadística Industrial/Datos-Práctica/2.Importar datos/poblacion_mundo.xlsx")
datos

,Año,Aruba,Afganistán,Angola,Albania,Andorra,El mundo árabe,Emiratos Árabes Unidos,Argentina,Armenia,...,Islas Vírgenes (EE.UU.),Viet Nam,Vanuatu,Mundo,Samoa,Kosovo,"Yemen, Rep. del",Sudáfrica,Zambia,Zimbabwe
0,1960,54208,8996967,5454938,1608800,13410,92197715,92417,20481781,1874119,...,32500,32670048,63689,3032156070,108627,947000,5315351,17099836,3070780,3776679
1,1961,55434,9169406,5531451,1659800,14378,94724540,100801,20817270,1941498,...,34300,33666111,65700,3071596055,112112,966000,5393034,17524533,3164330,3905038
2,1962,56234,9351442,5608499,1711319,15379,97334438,112112,21153042,2009524,...,35000,34683410,67793,3124561005,115768,994000,5473671,17965733,3260645,4039209
3,1963,56699,9543200,5679409,1762621,16407,100034191,125130,21488916,2077584,...,39800,35721213,69944,3189655687,119552,1022000,5556767,18423157,3360099,4178726
4,1964,57029,9744772,5734995,1814135,17466,102832792,138049,21824427,2145004,...,40800,36780001,72116,3255145692,123346,1050000,5641598,18896303,3463211,4322854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,105361,36296111,29816769,2873457,76997,411942825,9487206,44044811,2944789,...,107281,94600643,285499,7519371102,195358,1791003,27834811,57009751,16853608,14236599
58,2018,105846,37171922,30809787,2866376,77008,419851989,9630966,44494502,2951741,...,107001,95545959,292675,7602716232,196128,1797085,28498683,57792520,17351714,14438812
59,2019,106310,38041757,31825299,2854191,77146,427870273,9770526,44938712,2957728,...,106669,96462108,299882,7683806444,197093,1788878,29161922,58558267,17861034,14645473
60,2020,106766,38928341,32866268,2837849,77265,436080728,9890400,45376763,2963234,...,106290,97338583,307150,7763932702,198410,1790133,29825968,59308690,18383956,14862927
61,2021,107195,39835428,33933611,2811666,77354,444517783,9991083,45808747,2968128,...,105870,98168829,314464,7836630792,200144,1806279,30490639,60041996,18920657,15092171

**Opción 2. Cargar desde computador**

In [2]:
# Importar la libreria de pandas

import pandas as pd

from google.colab import files
files.upload()

datos1 = pd.read_excel("poblacion_mundo.xlsx")
datos1

Saving poblacion_mundo.xlsx to poblacion_mundo (1).xlsx

,Año,Aruba,Afganistán,Angola,Albania,Andorra,El mundo árabe,Emiratos Árabes Unidos,Argentina,Armenia,...,Islas Vírgenes (EE.UU.),Viet Nam,Vanuatu,Mundo,Samoa,Kosovo,"Yemen, Rep. del",Sudáfrica,Zambia,Zimbabwe
0,1960,54208,8996967,5454938,1608800,13410,92197715,92417,20481781,1874119,...,32500,32670048,63689,3032156070,108627,947000,5315351,17099836,3070780,3776679
1,1961,55434,9169406,5531451,1659800,14378,94724540,100801,20817270,1941498,...,34300,33666111,65700,3071596055,112112,966000,5393034,17524533,3164330,3905038
2,1962,56234,9351442,5608499,1711319,15379,97334438,112112,21153042,2009524,...,35000,34683410,67793,3124561005,115768,994000,5473671,17965733,3260645,4039209
3,1963,56699,9543200,5679409,1762621,16407,100034191,125130,21488916,2077584,...,39800,35721213,69944,3189655687,119552,1022000,5556767,18423157,3360099,4178726
4,1964,57029,9744772,5734995,1814135,17466,102832792,138049,21824427,2145004,...,40800,36780001,72116,3255145692,123346,1050000,5641598,18896303,3463211,4322854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,105361,36296111,29816769,2873457,76997,411942825,9487206,44044811,2944789,...,107281,94600643,285499,7519371102,195358,1791003,27834811,57009751,16853608,14236599
58,2018,105846,37171922,30809787,2866376,77008,419851989,9630966,44494502,2951741,...,107001,95545959,292675,7602716232,196128,1797085,28498683,57792520,17351714,14438812
59,2019,106310,38041757,31825299,2854191,77146,427870273,9770526,44938712,2957728,...,106669,96462108,299882,7683806444,197093,1788878,29161922,58558267,17861034,14645473
60,2020,106766,38928341,32866268,2837849,77265,436080728,9890400,45376763,2963234,...,106290,97338583,307150,7763932702,198410,1790133,29825968,59308690,18383956,14862927
61,2021,107195,39835428,33933611,2811666,77354,444517783,9991083,45808747,2968128,...,105870,98168829,314464,7836630792,200144,1806279,30490639,60041996,18920657,15092171

**Opción 3. desde una dirección de drive**

In [3]:
# Importar la libreria de pandas

import pandas as pd

datos2 = pd.read_excel("https://docs.google.com/spreadsheets/d/e/2PACX-1vTUW9RnO8ijqTNl7WOEvIdbHg354wNVR-_8N3HLTgytkSCBkgXiWuIme4OLWWicFw/pub?output=xlsx")
datos2

,Año,Aruba,Afganistán,Angola,Albania,Andorra,El mundo árabe,Emiratos Árabes Unidos,Argentina,Armenia,...,Islas Vírgenes (EE.UU.),Viet Nam,Vanuatu,Mundo,Samoa,Kosovo,"Yemen, Rep. del",Sudáfrica,Zambia,Zimbabwe
0,1960,54208,8996967,5454938,1608800,13410,92197715,92417,20481781,1874119,...,32500,32670048,63689,3032156070,108627,947000,5315351,17099836,3070780,3776679
1,1961,55434,9169406,5531451,1659800,14378,94724540,100801,20817270,1941498,...,34300,33666111,65700,3071596055,112112,966000,5393034,17524533,3164330,3905038
2,1962,56234,9351442,5608499,1711319,15379,97334438,112112,21153042,2009524,...,35000,34683410,67793,3124561005,115768,994000,5473671,17965733,3260645,4039209
3,1963,56699,9543200,5679409,1762621,16407,100034191,125130,21488916,2077584,...,39800,35721213,69944,3189655687,119552,1022000,5556767,18423157,3360099,4178726
4,1964,57029,9744772,5734995,1814135,17466,102832792,138049,21824427,2145004,...,40800,36780001,72116,3255145692,123346,1050000,5641598,18896303,3463211,4322854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,105361,36296111,29816769,2873457,76997,411942825,9487206,44044811,2944789,...,107281,94600643,285499,7519371102,195358,1791003,27834811,57009751,16853608,14236599
58,2018,105846,37171922,30809787,2866376,77008,419851989,9630966,44494502,2951741,...,107001,95545959,292675,7602716232,196128,1797085,28498683,57792520,17351714,14438812
59,2019,106310,38041757,31825299,2854191,77146,427870273,9770526,44938712,2957728,...,106669,96462108,299882,7683806444,197093,1788878,29161922,58558267,17861034,14645473
60,2020,106766,38928341,32866268,2837849,77265,436080728,9890400,45376763,2963234,...,106290,97338583,307150,7763932702,198410,1790133,29825968,59308690,18383956,14862927
61,2021,107195,39835428,33933611,2811666,77354,444517783,9991083,45808747,2968128,...,105870,98168829,314464,7836630792,200144,1806279,30490639,60041996,18920657,15092171

**Opción 4. Subir el archivo al directorio de trabajo**

In [4]:
# Importar la libreria de pandas

import pandas as pd

datos3 = pd.read_excel("poblacion_mundo.xlsx")
datos3

,Año,Aruba,Afganistán,Angola,Albania,Andorra,El mundo árabe,Emiratos Árabes Unidos,Argentina,Armenia,...,Islas Vírgenes (EE.UU.),Viet Nam,Vanuatu,Mundo,Samoa,Kosovo,"Yemen, Rep. del",Sudáfrica,Zambia,Zimbabwe
0,1960,54208,8996967,5454938,1608800,13410,92197715,92417,20481781,1874119,...,32500,32670048,63689,3032156070,108627,947000,5315351,17099836,3070780,3776679
1,1961,55434,9169406,5531451,1659800,14378,94724540,100801,20817270,1941498,...,34300,33666111,65700,3071596055,112112,966000,5393034,17524533,3164330,3905038
2,1962,56234,9351442,5608499,1711319,15379,97334438,112112,21153042,2009524,...,35000,34683410,67793,3124561005,115768,994000,5473671,17965733,3260645,4039209
3,1963,56699,9543200,5679409,1762621,16407,100034191,125130,21488916,2077584,...,39800,35721213,69944,3189655687,119552,1022000,5556767,18423157,3360099,4178726
4,1964,57029,9744772,5734995,1814135,17466,102832792,138049,21824427,2145004,...,40800,36780001,72116,3255145692,123346,1050000,5641598,18896303,3463211,4322854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,105361,36296111,29816769,2873457,76997,411942825,9487206,44044811,2944789,...,107281,94600643,285499,7519371102,195358,1791003,27834811,57009751,16853608,14236599
58,2018,105846,37171922,30809787,2866376,77008,419851989,9630966,44494502,2951741,...,107001,95545959,292675,7602716232,196128,1797085,28498683,57792520,17351714,14438812
59,2019,106310,38041757,31825299,2854191,77146,427870273,9770526,44938712,2957728,...,106669,96462108,299882,7683806444,197093,1788878,29161922,58558267,17861034,14645473
60,2020,106766,38928341,32866268,2837849,77265,436080728,9890400,45376763,2963234,...,106290,97338583,307150,7763932702,198410,1790133,29825968,59308690,18383956,14862927
61,2021,107195,39835428,33933611,2811666,77354,444517783,9991083,45808747,2968128,...,105870,98168829,314464,7836630792,200144,1806279,30490639,60041996,18920657,15092171